@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;700;800&display=swap');

:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
}

/*NAVBAR CSS*/
.menu {
    position: relative;
    background: #cd3e3d;
    width: 3em;
    height: 3em;
    border-radius: 5em;
    margin: auto;
    margin-top: 5em;
    margin-bottom: 5em;
    cursor: pointer;
    border: 1em solid #fdaead;
}
.menu:after {
    content: "";
    position: absolute;
    top: 1em;
    left: 1em;
    width: 1em;
    height: 0.2em;
    border-top: 0.6em double #fff;
    border-bottom: 0.2em solid #fff;
}
.menu ul {
    list-style: none;
    padding: 0;
}
.menu li {
    width: 5em;
    height: 1.4em;
    padding: 0.2em;
    margin-top: 0.2em;
    text-align: center;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    transition: all 1s;
    background: #fdaead;
    opacity: 0;
    z-index: -1;
}
.menu:hover li {
    opacity: 1;
}
/**
 * Add a pseudo element to cover the space
 * between the links. This is so the menu
 * does not lose :hover focus and disappear
 */
.menu:hover ul::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    display: block;
    left: 50%;
    top: -5.0em;
    /**
	 * The pseudo-element is a semi-circle
	 * created with CSS. Top, bottom, and right
	 * borders are 6.5em (left being 0), and then
	 * a border-radius is added to the two corners
	 * on the right.
	 */
    border-width: 6.5em;
    border-radius: 0 7.5em 7.5em 0;
    border-left: 0;
    border-style: solid;
    /**
	 * Have to have a border color for the border
	 * to be hoverable. I'm using a very light one
	 * so that it looks invisible.
	 */
    border-color: rgba(0,0,0,0.01);
    /**
	 * Put the pseudo-element behind the links
	 * (So they can be clicked on)
	 */
    z-index: -1;
    /**
	 * Make the cursor default so it looks like
	 * nothing is there
	 */
    cursor: default;
}
.menu a {
    color: white;
    text-decoration: none;
    /**
	 * This is to vertically center the text on the
	 * little tab-like things that the text is on.
	 */
    line-height: 1.5em;
}
.menu a {
    color: white;
    text-decoration: none;
}
.menu ul {
    transform: rotate(180deg) translateY(-2em);
    transition: 1s all;
}
.menu:hover ul {
    transform: rotate(0deg) translateY(-1em);
}
.menu li:hover {
    background: #cd3e3d;
    z-index: 10;
}

.menu li:nth-of-type(1) {
    transform: rotate(-90deg);
    position: absolute;
    left: -1.2em;
    top: -4.2em;
}
.menu li:nth-of-type(2) {
    transform: rotate(-45deg);
    position: absolute;
    left: 2em;
    top: -3em;
}
.menu li:nth-of-type(3) {
    position: absolute;
    left: 3.4em;
    top: 0.3em;
}
.menu li:nth-of-type(4) {
    transform: rotate(45deg);
    position: absolute;
    left: 2em;
    top: 3.7em;
}
.menu li:nth-of-type(5) {
    transform: rotate(90deg);
    position: absolute;
    left: -1.2em;
    top: 5em;
}
.hint {
    text-align: center;
}

/*DEFAULT JALOPY NAVBAR*/
/*.jalopy-nav {*/
/*    margin-right: 1em;*/
/*}*/
/*nav {*/
/*    max-width: 960px;*/
/*    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);*/
/*    margin: 0 auto;*/
/*    padding: 60px 0;*/
/*}*/

/*nav ul {*/
/*    !*display: flow;*!*/
/*    text-align: center;*/
/*    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);*/
/*    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);*/
/*}*/

/*nav ul li {*/
/*    !*list-style: none;*!*/
/*    display: inline-block;*/
/*    !*text-align: center;*!*/
/*}*/

/*nav ul li a {*/
/*    padding: 18px;*/
/*    !*font-family: "Open Sans";*!*/
/*    text-transform:uppercase;*/
/*    color: darkblue;*/
/*    font-size: 18px;*/
/*    text-decoration: none;*/
/*    display: block;*/
/*}*/

/*nav ul li a:hover {*/
/*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);*/
/*    background: rgba(255, 255, 255, 0.1);*/
/*    color: rgba(0, 55, 122, 0.7);*/
/*}*/

/*.navbar-nav {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    padding-left: 0;*/
/*    margin-bottom: 15px;*/
/*    list-style: none;*/
/*    font-family: "Dosis", sans-serif;*/
/*    font-weight: bold;*/
/*    font-size: xxx-large;*/
/*}*/

.movieCard {
    font-family: 'Dosis', sans-serif;
    text-wrap: normal;
    border-radius: 10px;
    /*overflow-y: scroll;*/
    /*width: 50%;*/
    /*height: 10px;*/
    /*border-radius: 15px 15px 15px 15px;*/
    background-color: white;
    margin: 5em;
}
h1 {
    text-align: center;
    opacity: 0.7;
    font-family: fantasy;

}
.card {
    display: inline-block;
    width: 20%;
    height: 45%;
    /*text-wrap: inherit;*/
    /*width: min-content;*/
    opacity: 0.8;
    overflow: scroll;
    box-shadow: 0 0 10px 0 black;
}
.movieCard:hover {
    transform: translate(0, -20px);
    box-shadow: 0 0 20px 0 aqua;
    border-radius: 10px;
    transition: 1s ease;
}
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.aboutInfo {
    font-family: "Dosis", sans-serif;
}

.aboutHeader {
    font-family: "Dosis", sans-serif;
    font-weight: bolder;
    font-size: 10vh;
}

html {
    height: 100vh;

}

body {
    height: 100%;
    background-image: url("../assets/3840x2160-px-sunset-waves-1264277-wallhere.com.jpg");
    background-repeat: no-repeat;
    min-height: 90%;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
    background-size: 225vh;
    background-position: top right;
}
#movieH1 {
    color: white;
    font-family: 'Dosis', sans-serif;
    font-weight: bolder;
    font-size: 10vh;
    filter: drop-shadow(2px 3px 10px rgba(0, 0, 0, .5));
}

#h1E {
    color: darkblue;
}
.text-input {
    min-width: min-content;
}

